---
import { Image } from 'astro:assets';

import profile from '../../assets/images/profile.png';
---
<section class="section about" id="about">
  <div class="inner">
    <h2 class="about-title">神降ろし鑑定　江美香</h2>
    <div class="profile-card">
      <div class="profile-card-img">
        <p class="profile-role">神降ろし鑑定歴15年以上</p>
        <p class="profile-name">メッセンジャー江美香</p>
        <Image src={profile} alt="神降ろし鑑定　江美香" />
      </div>
      <div class="card-body-wrap">
        <div class="profile-card-body">
          <p class="about-text">幼い頃より、人の感情や空気を敏感に感じ取っていました。</p>
          <p class="about-text">女系の血筋に受け継がれた感覚通し、<br />神様から降ろされた言葉を、<br />そのままお伝えしています。</p>
          <p class="about-text">恋愛、人間関係、仕事、人生の流れなど、</p>
          <p class="about-text">目には見えない本質を読み解きながら、</p>
          <p class="about-text">”今必要な言葉”を丁寧にお届けしています。</p>
          <p class="about-text">不安を煽るのではなく、</p>
          <p class="about-text">現実をどう生きていくかを大切にした鑑定を心掛けています。</p>
        </div>
        <a href="https://ameblo.jp/spiritual-emika/" class="blog-link">ブログを見る</a>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  .profile-role {
    display: block;
    text-align: center;
    font-size: 0.9rem;
    color: #8a7d4a;
    margin-top: 4px;
  }

  .profile-name {
    text-align: center;
  }

  .about-title {
    text-align: center;
    font-size: 2rem;

    @include sp {
      font-size: 1.5rem;
    }
  }

  .profile-card {
    display: flex;
    align-items: center;
    max-width: 880px;
    margin: 0 auto;
    padding: 40px;
    gap: 40px;

    @include tb {
      flex-direction: column;
      padding: 0px;
      gap: 28px;
    }
  }

  .profile-card-img {
    flex-shrink: 0;
    width: 240px;
    aspect-ratio: 3 / 4;

    @include tb {
      width: 200px;
    }
  }

  .profile-card-body {
    flex: 1;
  }

  .about-text {
    @include sp {
      font-size: 0.8rem;
    }
  }

  .blog-link {
    display: block;
    text-align: center;
    border-radius: 50px;
    max-width: 200px;
    margin-top: 30px;
    padding: 20px 40px;
    background-color: #e7d585;
    color: #fff;

    @include tb {
      margin: 30px auto;
    }
  }
</style>